{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-2">
            <a href="{{ path('ngpp_gmsagc_expenses_create', {'order_id' : order.id}) }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span> {{ 'expenses.add'|trans }}
            </a>
        </div>
        <div class="col-lg-8">
            <div class="well">
                <p class="text-center">
                    <strong>{{ 'Order'|trans }}</strong> : {{order.id}}
                    ||
                    <strong>{{ 'Mold'|trans }}</strong> : {{order.mold.name}}
                    ||
                    <strong>{{ 'Action'|trans }}</strong> : {{order.action.name}}
                    ||
                    <strong>{{ 'Written'|trans }}</strong> : {{ order.written ? order.written|date('d/m/Y') : '-' }}
                </p>
            </div>
        </div>
    </div>
    <br>
    {% if expenses is defined and expenses %}
        <table class="table table-hover">
            <tr>
                <th>{{ 'Created'|trans }}</th>
                <th>{{ 'Description'|trans }}</th>
                <th>{{ 'Price'|trans }}</th>
                <th>{{ 'Provider'|trans }}</th>
                <th></th>
            </tr>
        {% for expense in expenses %}
            <tr>
                <td>{{ expense.created ? expense.created|date('d/m/Y') : '-' }}</td>
                <td>{{ expense.description }}</td>
                <td>{{ expense.price }} {{ 'currency'|trans|raw }}</td>
                <td>{{ expense.contact.name }}</td>
                <td>
                    <a href="{{ path('ngpp_gmsagc_expenses_edit', {'id': expense.id}) }}" class="btn btn-warning">
                        <span class="glyphicon glyphicon-edit"></span> {{ 'action.edit'|trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2 class="text-muted">{{ 'message.nothing'|trans }}</h2>
    {% endif %}
{% endblock %}