{% extends '::base.html.twig' %}

{% block content %}
    <br><br>
    {% if expenses is defined and expenses %}
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>{{ 'Order'|trans }}</th>
                <th>{{ 'Description'|trans }}</th>
                <th>{{ 'Price'|trans }}</th>
                <th></th>
            </tr>
        {% for expense in expenses %}
            <tr>
                <td>{{ expense.id }}</td>
                <td>{{ expense.order.id }}</td>
                <td>{{ expense.description }}</td>
                <td>{{ expense.price }} {{ 'currency'|trans|raw }}</td>
                <td>
                    <a href="{{ path('ngpp_gmsagc_expenses_edit', {'id': expense.id}) }}" class="btn btn-warning">
                        <i class="icon-edit icon-white"></i> {{ 'action.edit'|trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2 class="muted">{{ 'message.nothing'|trans }}</h2>
    {% endif %}
{% endblock %}