<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        {% block meta %}{% endblock %}
        <title>{% block title %}Gmsagc{% endblock %}</title>
        {% block stylesheets %}{% endblock %}        
        {% stylesheets 
            'css/*'
            'bootstrap/css/*'
            'css/smoothness/*'
            filter='cssrewrite, ?yui_css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}" />
    </head>
    <body>
        <nav class="navbar navbar-static-top navbar-inverse">
            <div class="navbar-inner">                
                {% set navigation = [['ngpp_gmsagc_orders', 'orders.menu'|trans],
                                    ['ngpp_gmsagc_molds', 'molds.menu'|trans],
                                    ['ngpp_gmsagc_contacts', 'contacts.menu'|trans],
                                    ['ngpp_gmsagc_relations', 'invoices.menu'|trans],
                                    ['ngpp_gmsagc_users', 'users.menu'|trans]] %}
                <a class="brand" href="{{ path('ngpp_gmsagc_home') }}">Gmsagc</a>
                <ul class="nav">
                {% for item in navigation %}
                    {% if item[0] == app.request.get('_route')[:item[0]|length] %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif%}
                        <a href="{{ path(item[0]) }}">{{item[1]}}</a>
                    </li>
                {% endfor %}
                </ul>
                <!--<a class="brand" href="{{ path('ngpp_gmsagc_home') }}">Gmsagc</a>
                <ul class="nav">
                    <li>
                        <a href="{{ path('ngpp_gmsagc_orders') }}">
                            {{ 'orders.menu'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('ngpp_gmsagc_molds') }}">
                            {{ 'molds.menu'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('ngpp_gmsagc_contacts') }}">
                            {{ 'contacts.menu'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('ngpp_gmsagc_relations') }}">
                            {{ 'invoices.menu'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('ngpp_gmsagc_users') }}">
                            {{ 'users.menu'|trans }}
                        </a>
                    </li>
                </ul>-->
                <ul class="nav pull-right">
                    <li class="divider-vertical"></li>
                    <li class="pull-right">
                        {% if app.user %}
                            <a href="{{ path('logout') }}">
                                <i class="icon-off icon-white"></i> {{ 'action.logout'|trans }}
                            </a>
                        {% else %}
                            <a href="{{ path('login') }}">
                                <i class="icon-user icon-white"></i> {{ 'action.login'|trans }}
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
        <div id="content">
            {% if app.session.flashbag.has('success') %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        {{ flashMessage }}
                    {% endfor %}
                </div>
            {% endif %}
            {% if app.session.flashbag.has('notice') %}
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        {{ flashMessage }}
                    {% endfor %}
                </div>
            {% endif %}
            {% if app.session.flashbag.has('warning') %}
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% for flashMessage in app.session.flashbag.get('warning') %}
                            {{ flashMessage }}
                    {% endfor %}
                </div>
            {% endif %}
            {% if app.session.flashbag.has('error') %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% for flashMessage in app.session.flashbag.get('error') %}
                        {{ flashMessage }}
                    {% endfor %}
                </div>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        <footer>
            {% block footer %}{% endblock %}
        </footer>
        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% javascripts 
           'js/*'
           'bootstrap/js/bootstrap.js'
            '@NGPPGmsagcBundle/Resources/public/js/*'
           filter='?yui_js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
