<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        {% block meta %}{% endblock %}
        <title>{% block title %}Gmsagc{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% stylesheets
            'css/*'
            'css/smoothness/*'
            filter='cssrewrite, ?yui_css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}" />
    </head>
    <body>
        {% include 'navigation.html.twig' %}
        <div id="content">
            {% include 'alerts.html.twig' %}
            {% block content %}{% endblock %}
        </div>
        <footer>
            {% block footer %}{% endblock %}
        </footer>
        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% javascripts
           'js/jquery-1*'
           'js/*'
            '@NGPPGmsagcBundle/Resources/public/js/*'
           filter='?yui_js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
