{% extends '::base.html.twig' %}

{% block content %}
    <br>
    <a href="{{ path('ngpp_gmsagc_orders_save') }}" class="btn btn-success">
        <i class="icon-plus icon-white"></i> {{ 'orders.add'|trans }}
    </a>
    <br><br>
    {% if orders is defined and orders %}
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>{{ 'Oral'|trans }}</th>
                <th>{{ 'Written'|trans }}</th>
                <th>{{ 'Comment'|trans }}</th>
                <th>{{ 'Trial'|trans }}</th>
                <th>{{ 'Mold'|trans }}</th>
                <th>{{ 'Quote'|trans }}</th>
                <th>{{ 'Action'|trans }}</th>
                <th>{{ 'Pieces'|trans }}</th>
                <th>{{ 'Press'|trans }}</th>
                <th>{{ 'Material'|trans }}</th>
                <th>{{ 'Shrinkage'|trans }}</th>
                <th></th>
            </tr>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.oral|date('m/d/Y') }}</td>
                <td>{{ order.written|date('m/d/Y') }}</td>
                <td>{{ order.observation }}</td>
                <td>{{ order.trial|date('m/d/Y') }}</td>
                <td>{{ order.mold.name }}</td>
                <td>{{ order.quote }}</td>
                <td>{{ order.action.name }}</td>
                <td>{{ order.pieces }}</td>
                <td>{{ order.press.name }}</td>
                <td>{{ order.material.name }}</td>
                <td>{{ order.shrinkage }}</td>
                <td>
                    <a href="{{ path('ngpp_gmsagc_orders_save', {'id': order.id}) }}" class="btn btn-warning">
                        <i class="icon-edit icon-white"></i> Edit
                    </a>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h1>Nothing to show yet!</h1>
    {% endif %}
{% endblock %}