{% extends '::base.html.twig' %}

{% block content %}
    <br>
    <div class="row">
        <div class="span6">
            <a href="{{ path('ngpp_gmsagc_orders_save') }}" class="btn btn-success">
                <i class="icon-plus icon-white"></i> {{ 'orders.add'|trans }}
            </a>
        </div>
        <div class="span6">
            {% include 'NGPPGmsagcBundle:_Shared:search.html.twig' %}
        </div>
    </div>
    <br><br>
    {% if orders is defined and orders %}
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>{{ 'Oral'|trans }}</th>
                <th>{{ 'Written'|trans }}</th>
                <th>{{ 'Comment'|trans }}</th>
                <th>{{ 'Trial'|trans }}</th>
                <th>{{ 'Mold'|trans }}</th>
                <th>{{ 'Quote'|trans }}</th>
                <th>{{ 'Action'|trans }}</th>
                <th></th>
            </tr>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.oral ? order.oral|date('d/m/Y') : '-' }}</td>
                <td>{{ order.written ? order.written|date('d/m/Y') : '-' }}</td>
                <td>{{ order.observation }}</td>
                <td>{{ order.trial ? order.trial|date('d/m/Y') : '-' }}</td>
                <td>{{ order.mold.name }}</td>
                <td>{{ order.quote }} {{ 'currency'|trans|raw }}</td>
                <td>{{ order.action.name }}</td>
                <td>
                    <a href="{{ path('ngpp_gmsagc_orders_save', {'id': order.id}) }}" class="btn btn-warning">
                        <i class="icon-edit icon-white"></i> {{ 'action.edit'|trans }}
                    </a>
                    <a href="{{ path('ngpp_gmsagc_hours', {'order_id': order.id}) }}" class="btn btn-info">
                        <i class="icon-plus icon-white"></i> {{ 'hours.menu'|trans }}
                    </a>
                    <a href="{{ path('ngpp_gmsagc_expenses', {'order_id': order.id}) }}" class="btn btn-info">
                        <i class="icon-plus icon-white"></i> {{ 'expenses.menu'|trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </table>
        {% include 'NGPPGmsagcBundle:_Shared:pagination.html.twig' %}
    {% else %}
        <h2 class="muted">{{ 'message.nothing'|trans }}</h2>
    {% endif %}
{% endblock %}