{% extends "::base.html.twig" %}

{% block content %}
    <form
        {% if form.vars.value.id %}
            action="{{ path('ngpp_gmsagc_orders_save', {'id': form.vars.value.id}) }}"
        {% else %}
            action="{{ path('ngpp_gmsagc_orders_save') }}"
        {% endif %}
        method="post" {{ form_enctype(form) }}>
        <fieldset>
          <legend>{{ 'orders.save'|trans }}</legend>
            {% for relation in form.relations %}
                {{ relation.vars.value.type.name|capitalize }} : {{ form_widget(relation) }}
            {% endfor %}
            {{ form_widget(form) }}
            <br>
            <input type="submit" class="btn btn-success" value="{{ 'action.save'|trans }}"/>
            <a href="{{ path('ngpp_gmsagc_orders') }}" class="btn">
                {{ 'action.cancel'|trans }}
            </a>
            {% if form.vars.value.id %}
                <a href="{{ path('ngpp_gmsagc_orders_delete', {'id': form.vars.value.id}) }}"
                   class="btn btn-danger"
                   onclick="return confirm('{{ 'message.confirm.delete'|trans|e('js') }}')">
                    <i class="icon-remove icon-white"></i>
                    {{ 'action.delete'|trans }}
                </a>
        {% endif %}
        </fieldset>
    </form>
{% endblock %}
