{% extends '::base.html.twig' %}

{% block content %}
    <br>
    <div class="row">
        <div class="span6">
            <a href="{{ path('ngpp_gmsagc_contacts_save') }}" class="btn btn-success">
                <i class="icon-plus icon-white"></i> {{ 'contacts.add'|trans }}
            </a>
        </div>
        <div class="span6">
            {% include 'NGPPGmsagcBundle:_Shared:search.html.twig' %}
        </div>
    </div>    
    <br><br>
    {% if contacts is defined and contacts %}
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Email'|trans }}</th>
                <th>{{ 'Phone'|trans }}</th>
                <th></th>
            </tr>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.phone }}</td>
                <td>
                    <a href="{{ path('ngpp_gmsagc_contacts_save', {'id': contact.id}) }}" class="btn btn-warning">
                        <i class="icon-edit icon-white"></i> {{ 'action.edit'|trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </table>
        {% include 'NGPPGmsagcBundle:_Shared:pagination.html.twig' %}
    {% else %}
        <h2 class="muted">{{ 'message.nothing'|trans }}</h2>
    {% endif %}
{% endblock %}