{% extends "::base.html.twig" %}

{% form_theme form 'NGPPGmsagcBundle:_Shared:form_theme.html.twig' %}

{% block content %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role' : 'form'}}) }}
        <fieldset>
          <legend>{{ 'contacts.save'|trans }}</legend>
            {{ form_widget(form) }}
            <br>
            <div class="form-group">
                <div class="col-lg-offset-1 col-lg-10">
                    <input type="submit" class="btn btn-success" value="{{ 'action.save'|trans }}"/>
                    <a href="{{ path('ngpp_gmsagc_contacts') }}" class="btn btn-default">
                        {{ 'action.cancel'|trans }}
                    </a>
                    {% if form.vars.value.id %}
                        <a href="{{ path('ngpp_gmsagc_contacts_delete', {'id': form.vars.value.id}) }}"
                           class="btn btn-danger"
                           onclick="return confirm('{{ 'message.confirm.delete'|trans|e('js') }}');">
                            {{ 'action.delete'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </fieldset>
    {{ form_end(form) }}
{% endblock %}
