{% if pages is defined and pages > 1 %}
    {% set currentRoute = app.request.attributes.get('_route') %}
    {% set currentQuery = app.request.query.all %}
    {% set currentPage = app.request.attributes.get('_route_params')['page'] %}
    <div class="pagination pagination-large pagination-centered">
        <ul>
            {% if currentPage is null or currentPage == 1 %}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
                <a href="{{ path(currentRoute, currentQuery) }}">
                    &laquo;
                </a>
            </li>
            {% set startPage = currentPage - 5 > 1 ? currentPage - 5 : 1 %}
            {% set endPage = startPage + 10 > pages ? pages - 5 : startPage + 10 %}
            {% for page in startPage..endPage %}
                {% if page == 1 %}
                    {% if currentPage is null or currentPage == page %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="{{ path(currentRoute, currentQuery) }}">
                            {{ page }}
                        </a>
                    </li>
                {% else %}
                    {% if currentPage == page %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="{{ path(currentRoute, {'page': page}|merge(currentQuery)) }}">
                            {{ page }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}                    
            {% if currentPage == pages %}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
                <a href="{{ path(currentRoute, {'page': pages}|merge(currentQuery)) }}">
                    &raquo;
                </a>
            </li>
        </ul>
    </div>
{% endif %}