{% extends '::base.html.twig' %}

{% block content %}
    <br>
    <a href="{{ path('ngpp_gmsagc_molds_save') }}" class="btn btn-success">
        <i class="icon-plus icon-white"></i> {{ 'molds.add'|trans }}
    </a>
    <br><br>
    {% if molds is defined and molds %}
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Weight'|trans }}</th>
                <th>{{ 'Place'|trans }}</th>
                <th>{{ 'Shell'|trans }}</th>
                <th></th>
            </tr>
        {% for mold in molds %}
            <tr>
                <td>{{ mold.id }}</td>
                <td>{{ mold.name }}</td>
                <td>{{ mold.weight }}</td>
                <td>{{ mold.place }}</td>
                <td>{{ mold.shell }}</td>
                <td>
                    <a href="{{ path('ngpp_gmsagc_molds_save', {'id': mold.id}) }}" class="btn btn-warning">
                        <i class="icon-edit icon-white"></i> {{ 'action.edit'|trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h1>{{ 'message.nothing'|trans }}</h1>
    {% endif %}
{% endblock %}