{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <a href="{{ path('ngpp_gmsagc_molds_save') }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span> {{ 'molds.add'|trans }}
            </a>
        </div>
        <div class="col-lg-4">
            {% include 'NGPPGmsagcBundle:_Shared:search.html.twig' %}
        </div>
    </div> 
    <br>
    {% if molds is defined and molds %}
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Weight'|trans }}</th>
                <th>{{ 'Place'|trans }}</th>
                <th>{{ 'Shell'|trans }}</th>
                <th></th>
            </tr>
        {% for mold in molds %}
            <tr>
                <td>{{ mold.id }}</td>
                <td>{{ mold.name }}</td>
                <td>{{ mold.weight }}</td>
                <td>{{ mold.place }}</td>
                <td>{{ mold.shell }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('ngpp_gmsagc_molds_save', {'id': mold.id}) }}" class="btn btn-warning">
                            <span class="glyphicon glyphicon-edit"></span> {{ 'action.edit'|trans }}
                        </a>
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('ngpp_gmsagc_reports', {'mold_id': mold.id}) }}">
                                    <span class="glyphicon glyphicon-list-alt"></span> {{ 'reports.menu'|trans }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </table>
        {% include 'NGPPGmsagcBundle:_Shared:pagination.html.twig' %}
    {% else %}
        <h2 class="text-muted">{{ 'message.nothing'|trans }}</h2>
    {% endif %}
{% endblock %}