{% extends "::base.html.twig" %}

{% block content %}
    <form action="{{app.request.requestUri}}" method="post" {{ form_enctype(form) }}>
        <fieldset>
          <legend>{{ 'molds.save'|trans }}</legend>
            {{ form_widget(form) }}
            <br>
            <input type="submit" class="btn btn-success" value="{{ 'action.save'|trans }}"/>
            <a href="{{ path('ngpp_gmsagc_molds') }}" class="btn">
                {{ 'action.cancel'|trans }}
            </a>
            {% if form.vars.value.id %}
                <a href="{{ path('ngpp_gmsagc_molds_delete', {'id': form.vars.value.id}) }}"
                   class="btn btn-danger"
                   onclick="return confirm('{{ 'message.confirm.delete'|trans|e('js') }}')">
                    <i class="icon-remove icon-white"></i>
                    {{ 'action.delete'|trans }}
                </a>
        {% endif %}
        </fieldset>
    </form>
{% endblock %}
