{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <a href="{{ path('ngpp_gmsagc_users_save') }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span> {{ 'users.add'|trans }}
            </a>
        </div>
        <div class="col-lg-4">
            {% include 'NGPPGmsagcBundle:_Shared:search.html.twig' %}
        </div>
    </div> 
    <br>
    {% if users is defined and users %}
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>{{ 'Username'|trans }}</th>
                <th>{{ 'Email'|trans }}</th>
                <th></th>
            </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('ngpp_gmsagc_users_save', {'id': user.id}) }}" class="btn btn-warning">
                            <span class="glyphicon glyphicon-edit"></span> {{ 'action.edit'|trans }}
                        </a>
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('ngpp_gmsagc_users_password', {'id': user.id}) }}">
                                    <span class="glyphicon glyphicon-edit"></span> {{ 'password.edit'|trans }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </table>
        {% include 'NGPPGmsagcBundle:_Shared:pagination.html.twig' %}
    {% else %}
        <h2 class="text-muted">{{ 'message.nothing'|trans }}</h2>
    {% endif %}
{% endblock %}