{% extends "::base.html.twig" %}

{% block content %}
    <form
        {% if form.vars.value.id %}
            action="{{ path('ngpp_gmsagc_users_password', {'id': form.vars.value.id}) }}"
        {% endif %}
        method="post" {{ form_enctype(form) }}>
        <fieldset>
          <legend>{{ 'users.save'|trans }}</legend>
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-success" value="{{ 'action.save'|trans }}"/>
            <a href="{{ path('ngpp_gmsagc_users') }}" class="btn">
                {{ 'action.cancel'|trans }}
            </a>
        </fieldset>
    </form>
{% endblock %}
