{% extends '::base.html.twig' %}

{% block content %}
    <br>
    <div class="row-fluid">
        <div class="span2">
            {% include 'NGPPGmsagcBundle:Relations:navigation.html.twig' %}
        </div>
        <div class="span10">
            {% if relations is defined and relations is iterable and relations|length > 0 %}
                {% if toInvoice is defined and toInvoice %}
                    <h3>
                        {{ 'invoices.todo'|trans }}
                    </h3>
                {% endif %}
                <table class="table table-hover table-condensed">
                    <tr>
                        <th>{{ 'Order'|trans }}</th>
                        <th>{{ 'Mold'|trans }}</th>
                        <th>{{ 'Contact'|trans }}</th>
                        <th>{{ 'Invoice'|trans }}</th>
                        <th>{{ 'Invoiced'|trans }}</th>
                        <th></th>
                    </tr>
                {% for relation in relations %}
                    <tr>
                        <td>{{ relation.order.id }}</td>
                        <td>{{ relation.order.mold.name }}</td>
                        <td>{{ relation.contact.name }}</td>
                        <td>{{ relation.invoice }}</td>
                        <td>{{ relation.invoiced ? relation.invoiced|date('m/d/Y') : '-' }}</td>
                        <td>
                            <a href="{{ path('ngpp_gmsagc_relations_save', {'id': relation.id}) }}" class="btn btn-warning">
                                <i class="icon-edit icon-white"></i> {{ 'action.edit'|trans }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <h2 class="muted">{{ 'message.nothing'|trans }}</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}