{% extends '::base.html.twig' %}

{% block content %}
    <br>
    <a href="{{ path('ngpp_gmsagc_hours_save') }}" class="btn btn-success">
        <i class="icon-plus icon-white"></i> {{ 'hours.add'|trans }}
    </a>
    <br><br>
    {% if hours is defined and hours %}
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>Start</th>
                <th>End</th>
                <th>User</th>
                <th>#order</th>
                <th></th>
            </tr>
        {% for hour in hours %}
            <tr>
                <td>{{ hour.id }}</td>
                <td>{{ hour.start|date('m/d/Y') }}</td>
                <td>{{ hour.end|date('m/d/Y') }}</td>
                <td>{{ hour.user.username }}</td>
                <td>{{ hour.order.id }}</td>
                <td>
                    <a href="{{ path('ngpp_gmsagc_hours_save', {'id': hour.id}) }}" class="btn btn-warning">
                        <i class="icon-edit icon-white"></i> {{ 'action.edit'|trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h1>{{ 'message.nothing'|trans }}</h1>
    {% endif %}
{% endblock %}