{% extends '::base.html.twig' %}

{% form_theme form _self %}

{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    <input class="form-control" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endspaceless %}
{% endblock form_widget_simple %}

{% block content %}
    {% set start_day = form.hours[0].vars.value.day %}
    {{ form_start(form) }}
        <table class="table table-hover">
            <tr>
                <th>
                    {% set week_before = start_day|date_modify('-1 week') %}
                    <a href="{{ path('ngpp_gmsagc_hours', {'order_id': order.id, 'week' : week_before|date('W'), 'year' : week_before|date('Y')}) }}" >
                        {{ 'action.week.before'|trans }}
                    </a>
                </th>
                {% for i in 0..4 %}
                    <th>{{ form.hours[0].vars.value.day|date_modify('+' ~ i ~ ' day')|date('d/m/Y') }}</th>
                {% endfor %}
                <th>
                    {% set week_after = start_day|date_modify('+1 week') %}
                    {% set next_week = week_after|date('W') %}
                    {% set next_year = week_after|date('Y') %}
                    {% set next_year = next_week == 1 ? next_year + 1 : next_year %}
                    <a href="{{ path('ngpp_gmsagc_hours', {'order_id': order.id, 'week' : next_week, 'year' : next_year}) }}" >
                        {{ 'action.week.after'|trans }}
                    </a>
                </th>
            </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                {% for hour in form.hours %}
                    {% if hour.vars.value.user.id == user.id %}
                        <td>{{ form_widget(hour.time) }}</td>
                    {% endif %}
                {% endfor %}
                <td></td>
            </tr>
        {% endfor %}
        </table>
        <br>
        <input type="submit" class="btn btn-success" value="{{ 'action.save'|trans }}"/>
        <a href="{{ path('ngpp_gmsagc_home') }}" class="btn btn-default">
            {{ 'action.cancel'|trans }}
        </a>
    {{ form_end(form) }}
{% endblock %}