{% extends "::base.html.twig" %}

{% block content %}
    <form
        {% if form.vars.value.id %}
            action="{{ path('ngpp_gmsagc_hours_edit', {'id': form.vars.value.id}) }}"
        {% elseif form.vars.value.orderid %}
            action="{{ path('ngpp_gmsagc_hours_create', {'order_id': form.vars.value.orderid, 'user_id': form.vars.value.userid}) }}"
        {% endif %}
        method="post" {{ form_enctype(form) }}>
        <fieldset>
          <legend>{{ 'hours.save'|trans }}</legend>
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-success" value="{{ 'action.save'|trans }}"/>
            <a href="{{ path('ngpp_gmsagc_hours') }}" class="btn">
                {{ 'action.cancel'|trans }}
            </a>
            {% if form.vars.value.id %}
                <a href="{{ path('ngpp_gmsagc_hours_delete', {'id': form.vars.value.id}) }}"
                   class="btn btn-danger"
                   onclick="return confirm('{{ 'message.confirm.delete'|trans|e('js') }}')">
                    <i class="icon-remove icon-white"></i>
                    {{ 'action.delete'|trans }}
                </a>
        {% endif %}
        </fieldset>
    </form>
{% endblock %}
